body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #353535;
  min-width: 100vh;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000000;
}

.loader-box.lod {
  display: none;
}

.loader-box .loader {
  position: relative;
  width: 200px;
  height: 200px;
  background: #222222;
  border-radius: 50%;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

.loader-box .loader:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ffb11f));
  background: linear-gradient(bottom, transparent, #ffb11f);
  background-size: 180px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.loader-box .loader:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background: orange;
  -webkit-box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange, 0 0 90px orange, 0 0 100px orange;
          box-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 60px orange, 0 0 70px orange, 0 0 80px orange, 0 0 90px orange, 0 0 100px orange;
}

.loader-box .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #353535;
  border-radius: 50%;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.links {
  position: fixed;
  right: -100px;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
  -webkit-transition: all cubic-bezier(0, 1.03, 0.22, 1.17) 1s;
  transition: all cubic-bezier(0, 1.03, 0.22, 1.17) 1s;
}

.links.linkFix {
  right: 20px;
  -webkit-transition: all cubic-bezier(0, 1.03, 0.22, 1.17) 1s;
  transition: all cubic-bezier(0, 1.03, 0.22, 1.17) 1s;
}

.links a {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.links a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.links a.instagram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.links a.instagram svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.links a svg {
  width: 50px;
  height: 50px;
}

.header {
  border-bottom: 3px solid orange;
  -webkit-box-shadow: 0 0 20px orange;
          box-shadow: 0 0 20px orange;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  background-color: white;
  z-index: 100000;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-inner-logo {
  width: 320px;
  height: 100px;
}

.header-inner-logo__img {
  width: 320px;
  height: 100px;
}

.header-inner-logo:hover {
  opacity: 0.6;
}

.header-inner-boxlink__links {
  padding: 10px 25px;
  color: orange;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header-inner-boxlink__links:hover::before {
  width: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header-inner-boxlink__links::before {
  content: "";
  position: absolute;
  width: 0;
  margin: 0 auto;
  height: 3px;
  background-color: black;
  bottom: 0;
  border-radius: 20px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header-inner .burger {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}

.header-inner .burger.active span {
  height: 0;
}

.header-inner .burger.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-inner .burger.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-inner .burger span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.header-inner .burger span,
.header-inner .burger span::before,
.header-inner .burger span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.header-inner .burger span::before,
.header-inner .burger span::after {
  content: '';
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header-inner .burger span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header-inner .burger span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
/*# sourceMappingURL=main.css.map */